<div style="padding-top: 80px;"></div>
<div class="userboxp">
  <%= image_tag("ryoh.jpg" , :class =>"withinprofbox") %>
  <div class="withinprofbox2"><%= current_user.nickname %></div>
</div>

<div class="allfav">
投稿一覧
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-xs-6">
      <div class="post-content white-back">
      <div class="layerTransparent">
        <div class="content_post" style="background-image: url(<%= post.image %>);">
        </div>
        <%= simple_format(post.title, class: "title") %>
        <%= simple_format(post.content, class:"text") %>
        </div>
      </div>
    </div>
<% end %>
  </div>
<div class="pagenation-content">
  <%= paginate(@posts) %>
</div>